@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .shadow-inside {
    box-shadow: inset 0 0 10px 6px rgba(0, 0, 0, 0.6);
  }

  .shadow-outside {
    box-shadow: 0 0px 10px 6px rgba(0, 0, 0, 0.6);
  }

  .shadow-both {
    box-shadow: inset 0 0 10px 6px rgba(0, 0, 0, 0.6), 0 0 10px 6px rgba(0, 0, 0, 0.6);
  }

  .text-border-white {
    @apply bg-gray-800 text-white border border-white rounded-30 appearance-none leading-normal focus:outline-none py-2 px-4;
  }

  .text-1 {
    @apply bg-gray-800 text-white border border-white rounded-30 appearance-none leading-normal focus:outline-none py-2 px-4;
  }

  .button-text {
    @apply bg-gray-300 text-gray-600 rounded-10 text-sm appearance-none leading-normal focus:outline-none border border-gray-600 px-1 hover:bg-gray-400 active:bg-gray-500;
  }

  .round_corners {
    @apply rounded-30;
  }

  .normalize-text {
    @apply bg-gray-800 focus:outline-none text-white
  }

  .sidebar-section-icon {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-size: cover;
    background-position: center;
  }

  .agent-button {
    padding: 5px 10px;
    margin: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    border-radius: 5px;
    text-align: left;
    color: white;
    background-color: #343541;
    /* Example background color, adjust as needed */
  }

  .agent-button::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    /* Adjust the width of the fade effect */
    pointer-events: none;
  }

  .agent-button:hover,
  .agent-button:focus,
  .agent-button:active {
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
  }


  .agent-navigation-container {
    overflow-y: scroll;
    scrollbar-width: none;
    /* For Firefox */
    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;
  }

  .agent-navigation-container::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
  }
}